In [1]:
import pandas as pd
import numpy as np

pd.Series([1, 2], dtype=np.int64).reindex([0, 1, 2])

0    1.0
1    2.0
2    NaN
dtype: float64

In [2]:
pd.Series([True, False], dtype=np.bool_).reindex([0, 1, 2])

0     True
1    False
2      NaN
dtype: object

In [9]:
pd.Series([1, 2], dtype=np.dtype("timedelta64[ns]")).reindex([0, 1, 2])

0   0 days 00:00:00.000000001
1   0 days 00:00:00.000000002
2                         NaT
dtype: timedelta64[ns]

In [15]:
pd.Series([1, 2], dtype=np.dtype("datetime64[ns]")).reindex([0, 1, 2])

0   1970-01-01 00:00:00.000000001
1   1970-01-01 00:00:00.000000002
2                             NaT
dtype: datetime64[ns]

In [10]:
pd.Series(["2020", "2021"], dtype=pd.PeriodDtype("D")).reindex([0, 1, 2])

0    2020-01-01
1    2021-01-01
2           NaT
dtype: period[D]

In [20]:
pd.Series([1, 2], dtype=pd.Int64Dtype()).reindex([0, 1, 2])

0       1
1       2
2    <NA>
dtype: Int64

In [29]:
ser = pd.Series([pd.Timestamp("2020-01-01"), pd.NaT])
ser

0   2020-01-01
1          NaT
dtype: datetime64[ns]

In [31]:
ser.isna()

0    False
1     True
dtype: bool

In [33]:
ser = pd.Series([1, None], dtype="object")
ser

0       1
1    None
dtype: object

In [34]:
ser.isna()

0    False
1     True
dtype: bool